<div class="page-content">
  <div class="field-wrap">
    <p class="field-label">Network ID</p>
    <p class="field-value">
      <span>56&nbsp;-&nbsp;</span>
      <a class="link" target="_blank" href="https://bscscan.com/">Binance Smart Chain</a>
    </p>
  </div>

  <div class="field-wrap">
    <p class="field-label">Enter user address</p>
    <p class="field-sub-label">
      <span>Example:&nbsp;</span>
      <a class="link" target="_blank"
         href="https://bscscan.com/address/0x6Ab9c477246bCaa4A1C3a825F42437EF66c55953"
      >0x6Ab9c477246bCaa4A1C3a825F42437EF66c55953</a>
    </p>
    <input type="text" class="field-input" [formControl]="userAddressControl">
  </div>

  <div class="field-wrap">
    <p class="field-label">Enter token address</p>
    <p class="field-sub-label">
      <span>Example:&nbsp;</span>
      <a class="link" target="_blank"
         href="https://bscscan.com/address/0xe9e7cea3dedca5984780bafc599bd69add087d56"
      >0xe9e7cea3dedca5984780bafc599bd69add087d56 (BUSD)</a>
    </p>
    <input type="text" class="field-input" [formControl]="tokenAddressControl">
  </div>

  <div class="field-wrap">
    <p class="field-label">Place spender contract address (1inch router V3)</p>
    <a class="field-value link" target="_blank"
       href="https://bscscan.com/address/0x11111112542d85b3ef69ae05771c2dccff4faa26">
      0x11111112542d85b3ef69ae05771c2dccff4faa26
    </a>
  </div>

  <button class="button" (click)="getAllowance()">Get allowance</button>

  <div *ngIf="allowanceAmount$ | async" class="result-wrap">
    <span class="result-label">Allowance: </span>
    <span class="result-value">{{allowanceAmount$ | async}}</span>
  </div>

  <div class="error-wrap" *ngIf="error$ | async">
    <p>Check address fields</p>
  </div>
</div>
